body{
    margin: 0;
    padding:0;
    width: 100%;
    box-sizing: border-box;
}
.container{
    height: 500px;
    background-color: #f0f2f5;
    display: flex;
    float: center;
    text-decoration: none;
    flex-grow: .5;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 10%;
    align-items: center;
    justify-content: center;
    
}
.f-container{
    width: 360px;
    margin-top: -20px;
    padding: 10px 0px 10px 0px;
    font-family: "Segoe UI", Roboto, "San Francisco"; 
    
}

.f-container img{
    width: 200px;
     
}
h2{
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
    width: 360px;
    letter-spacing: -.5px;
    line-height: 1.2em;
    margin-top: 8px;
    
  
}
.form-container{
    width: 360px;
    margin-right: 10px;
    
 
}

form{
    background-color: white;
    width: 300px;
    height: 280px;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    box-shadow: .5px .5px 8px -6px;
}

input{
    display: block;
    background-color: white;
    border: 1.5px solid rgb(200, 200, 200);
    width: 260px;
    margin: auto;
    padding: 9px 10px;
    border-radius: 5px;
    text-align: left;
    color: black;
    font-family: 'Segoe UI';
    font-size: 15px;
    
}
button{
    border: none;
    background-color: #1877f2;
    color: white;
    margin: auto;
    width: 283px;
    display: block;
    border-radius: 5px;
    padding: 12px 0;
    font-weight: bold;
    cursor: pointer;
}

.f-pws{
    display: block;
    width: 200px;
    text-decoration: none;
    margin-left: 25px;
    color: #1877f2;
    padding-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.line{
    border-top: .5px solid #222;
    opacity: 0.2;
    margin-left: 10px;
    margin-right: 10px;
    
}

.bnt2{
    width: 160px;
    font-size: 14;
    background-color: #42b72a;
    text-align: center;
    margin-top: 0;
}

.sub-link h3{
    width: 500px;
    color: black;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding-left: 24px;   
    
}

.sub-link h3 a{
    color: black;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;   
}
footer{  
    height: 125px;   
}
.main-nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 12px;
    flex-shrink: 1;
    margin: 5px 200px -10px 134px;  
}

.main-nav a{ 
    text-decoration: none;
    color: #727272;
    padding: 2px;
    flex-grow: .5;     
} 
.main-nav a:hover{
    text-decoration-line: underline;
}
._42ft {
    cursor: pointer;
    display: inline-block;
}
._517i, ._517i._42fr:active, ._517i._42fr._42fs {
    height: 10px;
    line-height: 18px;
    margin-top: -2px;
    margin-left: 4px;
    margin-bottom: 8px;
}
._517h, ._59pe:focus, ._59pe:hover {
    background-color: #f5f6f7;
    border-color: #ccd0d5;
}
._4jy0 {
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}
._4jy0 {
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
}
._4jy0:before {
    content: '';
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}
._4jy0:before {
    content: '';
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}
.sp_-ncz8YpNVvV_1_5x.sx_d7fab9 {
    background-position: 1px -2px;
}
._4jy0 .img {
    bottom: 1px;
    position:relative;
    vertical-align: middle;
}
.sp_-ncz8YpNVvV_1_5x {
    background-image: url(img/icon1.png);
    background-size: 60%;
    background-repeat: no-repeat;
    display: inline-block;
    height: 15px;
    width: 15px;
}

.line2{
    border-top: .5px solid #222;
    opacity: .2;
    justify-content: center;
    margin: 10px 240px 0 175px;    
}
.footerChild ul{  
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    font-size: 10px;
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 2px;
    flex-shrink: 1;
    margin: 5px 240px 0 132px;
    line-height: 16px;
}
.footerChild a{
    text-decoration: none;
    color: #727272;
    padding: 4px;
    flex-grow: .5;
    
}
.footerChild a:hover{
    text-decoration-line: underline;
}
.copyright{
    font-family: Helvetica, Arial, sans-serif;
    margin: 10px 230px 0 175px;
    text-decoration: none; 
    font-size: 11px;
    color: #737373;
}